.wrapper {
  display: flex;
  justify-content: center;
  margin: 35px auto;

  flex-direction: column;
  width: min(1000px, 100vw);
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  justify-items: center;
}

.createNewPost {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
