.wrapper {
  display: flex;
  flex-direction: column;

  margin: 20px auto;
  width: min(1000px, 100vw);

  gap: 30px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  justify-items: center;
}

.createNewPost {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
