.header {
  margin: 15px 30px;
  display: flex;
  align-items: center;
}

.myProfile {
  padding-right: 10px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px !important;
  text-align: right;
}

.logo {
  height: 50px;
  width: 50px;
}

.home {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  flex: 1;

  & > p {
    color: rgb(7, 155, 192);
    font-size: 20px;
    letter-spacing: 4px !important;
  }
}